extends layout

block content
    .container-fluid.varz
        h2 Variables
        .row
            .col-md-6
                strong Started:
                span= moment(varz.start).format('MM/DD/YYYY')
            .col-md-6
                strong Uptime:
                span= varz.uptime
        .row
            .col-md-6
                strong In Bytes:
                span= varz.in_bytes
            .col-md-6
                strong Out Bytes:
                span= varz.out_bytes
        .row
            .col-md-6
                strong In Messages:
                span= varz.in_msgs
            .col-md-6
                strong Out Messages:
                span= varz.out_msgs
    hr
    .container-fluid.connz
        h2 Connections
            small= connz.num_connections
        .row
            .col-md-12
                p Reports more detailed information on current connections.
        .row
            .col-md-12
                table.table
                    thead
                        tr
                            th cid
                            th ip
                            th port
                            th in msgs
                            th out msgs
                            th in bytes
                            th out bytes
                    tbody
                        each con in connz.connections
                            tr
                                td= con.cid
                                td= con.ip
                                td= con.port
                                td= con.in_msgs
                                td= con.out_msgs
                                td= con.in_bytes
                                td= con.out_bytes

    hr
    .container-fluid.routez
        h2 Routes
        .row
            .col-md-12
                p Reports information on active routes for a cluster.
    hr
    .container-fluid.subscriptionz
        h2 Subscriptions
        .row
            .col-md-12
                p Reports detailed information about the current subscriptions and the routing data structure.
    hr
